<!DOCTYPE html>
<html>
<head>
    <style>
        .button {
            background-color: #4CAF50;
            padding: 10px 20px;
            color: white;
            text-decoration: none;
            display: inline-block;
        }
    </style>
</head>
<body>
    <h2>Hola, {{ user.get_username }}</h2>
    <p>Recibimos una solicitud para restablecer tu contraseña.</p>
    <p>Haz clic en el botón de abajo para elegir una nueva:</p>
    
    <a href="{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}" class="button">
        Restablecer Contraseña
    </a>

    <p>Si no solicitaste esto, ignora este correo.</p>
</body>
</html>