<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Recuperar Contraseña</title>
</head>
<body>
    <header>
        <h1>Restablecer Contraseña</h1>
    </header>
    <main>
        <p>Introduce tu dirección de correo electrónico y te enviaremos instrucciones para crear una nueva contraseña.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Enviar correo de recuperación</button>
        </form>
    </main>
</body>
</html>